<!DOCTYPE html>
<html>
<% include partials/header %>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>

<div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
 		<div>
		    <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
		</div>
		<a href="/campgrounds/new" class="btn btn-lg btn-success"> Add a New Campground</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

 
<!--<div class="container">   -->
<!--    <header class="jumbotron">-->
<!--        <h1> <%=title%> </h1>-->
    
<!--    </header>-->
    
<!--    <a href=/campgrounds> View All Campgrounds</a>-->
<!--    <div>-->
<!--     <a href=/campgrounds/new> Add a New Campground</a>-->
<!--    </div>-->
    
<!--    <p> P.S. this is the home.ejs file</p>-->

<!--</div>-->

<% include partials/footer %>