<% include partials/header %>

<h1>Yelp Camp sign up form</h1>


<form method="POST" action="/register">
    <div>
        <label> Username: </label><input type="text" placeholder="UserName" name="username">
    </div>
    <div>
        <label> Password: </label><input type="text" placeholder="Password" name="password">
    </div>
    <button > Sign Up</button>
</form>
<% include partials/footer %>